.Root {
  padding: 10Px;
  display: flex;
  border-bottom: 1px solid #f0f0f0;

  :global {
    .at-avatar--large {
      width: 100Px;
      height: 100Px;
    }
  }
}

.Title {
  font-size: 16Px;
  font-weight: bold;
}

.Right {
  display: flex;
  margin-left: 10Px;
  flex-direction: column;
  justify-content: space-between;
  flex: auto;
}

.Publisher {
  margin-bottom: 10Px;
}

.Footer {
  font-size: 10Px;
  display: flex;
  justify-content: space-between;

  &>View {
    flex-basis: 33%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;

    &:first-of-type {
      text-align: left;
    }

    &:last-of-type {
      text-align: right;
    }
  }
}

.RegNum {
  color: goldenrod;
}